<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.2a/resources/css/ext-standard.css" />
    <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.0.2a/ext-all.js"></script>

    <script type="text/javascript" src="@Url.Content("~/JS/app/model/Categoria.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/JS/app/store/Categorias.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/JS/app/view/Categorias/Listar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/JS/app/controller/Categorias.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/JS/app.js")"></script>
</head>

<body>
    @RenderBody()
</body>
</html>
